# {{ item.module}} - {{ ansible_managed }}
- module: {{ item.module }}
  # All logs
  log:
    enabled: {{ item.enabled }}

    # Set which input to use between syslog (default) or file.
    var.input: {{ item.inputs|to_yaml(indent=2) }}

    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    #var.paths:
