---
name: CI
'on':
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "30 2 * * 1"

defaults:
  run:
    working-directory: 'geerlingguy.filebeat'

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
        with:
          path: 'geerlingguy.filebeat'

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install yamllint

      - name: Lint code.
        run: |
          yamllint .

  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - distro: rockylinux9
            scenario: default
          - distro: ubuntu2404
            scenario: default
          - distro: ubuntu2204
            scenario: default
          - distro: debian12
            scenario: default
          - distro: debian11
            scenario: default
          - distro: ubuntu2404
            scenario: deb822
          - distro: debian12
            scenario: deb822
          - distro: ubuntu2204
            scenario: deb822
          - distro: debian11
            scenario: deb822
          - distro: ubuntu2004
            scenario: deb822
          - distro: debian13
            scenario: deb822

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
        with:
          path: 'geerlingguy.filebeat'

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible molecule molecule-plugins[docker] docker

      - name: Run Molecule tests.
        run: molecule test -s ${{ matrix.scenario }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
